{% extends 'wage/base.html' %}

{% block head %}
<style type="text/css">
</style>

<script>
</script>

{% endblock %}

{% block nocalendar %}

<h4>确定任务单</h4>
<form action="{% url 'wage:changetask' %}" method="post">
{% csrf_token %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>顾客</th>
                <th>金额</th>
                <th>订单类型</th>
                <th>预定时间</th>
                <th>婚礼时间</th>
                <th>任务单</th>
                <th>订单状态</th>
                <th>订单接单店员</th>
                <th>完成服务店员</th>
                <th>订单号</th>
                <th>已被计入</th>
                <th>选择任务单</th>
            </tr>
        </thead>
        <tbody>
        {% for order in ordersnew %}
            <tr>
                <th>{{ order.client_name }}{% if order in ordersnew %} (本月新增){% endif %}</th>
                <th>{{ order.money }}</th>
                <th>{{ order.get_type_display }}</th>
                <th>{{ order.order_time }}</th>
                <th>{{ order.wedding_time }}</th>
                <th>{{ order.is_task_order }}</th>
                <th>{{ order.get_status_display }}{% if order.chargeback_date %} (待退款){% endif %}</th>
                <th>{{ order.whose_new }}</th>
                <th>{{ order.whose_wed }}</th>
                <th>{{ order.order_number }}</th>
                <th>{{ order.calculated }}</th>
                <th>{% if not order.is_task_order and not order.chargeback_date %}<input type="checkbox" name="taskorder" value="{{ order.id }}" />{% endif %}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <button type="submit" class="btn btn-primary">更改任务单</button>
</form>

<a href="{% url 'wage:index' %}" class="btn btn-primary" role="button">返回</a>
{% endblock %}