{% extends 'wage/base.html' %}

{% block head %}
<style type="text/css">
</style>

<script>
</script>

{% endblock %}

{% block body %}
<br />
<form action="{% url 'wage:search' %}" method="post">
    {% csrf_token %}
    <div class="col-lg-6">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="支持顾客姓名和订单号的模糊搜索" required="required"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
    </div>
    </div>
</form>
<br />
<br />
<br />

<br />
<br />
<br />

<h4>本月新增订单</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>顾客</th>
                <th>金额</th>
                <th>提成</th>
                <th>订单类型</th>
                <th>预定时间</th>
                <th>婚礼时间</th>
                <th>任务单</th>
                <th>活动单</th>
                <th>退单</th>
                <th>订单状态</th>
                <th>店员</th>
                <th>订单号</th>
                <th>已被计入</th>
            </tr>
        </thead>
        <tbody>
        {% for order in ordersnew %}
            <tr>
                <th>{{ order.client_name }}{% if order in orderswed %} (本月结婚){% endif %}</th>
                <th>{{ order.money }}</th>
                <th>{{ order.commission_rate }}</th>
                <th>{{ order.get_type_display }}</th>
                <th>{{ order.order_time }}</th>
                <th>{{ order.wedding_time }}</th>
                <th>{{ order.is_task_order }}</th>
                <th>{{ order.is_discount_order }}</th>
                <th>{{ order.is_chargeback }}</th>
                <th>{{ order.get_status_display }}{% if order.chargeback_date and order.status != 4 %} (待退款){% endif %}</th>
                <th>{{ order.whose_order }}</th>
                <th>{{ order.order_number }}</th>
                <th>{{ order.calculated }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h4>本月结婚订单</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>顾客</th>
                <th>金额</th>
                <th>提成</th>
                <th>订单类型</th>
                <th>预定时间</th>
                <th>婚礼时间</th>
                <th>任务单</th>
                <th>活动单</th>
                <th>退单</th>
                <th>订单状态</th>
                <th>店员</th>
                <th>订单号</th>
                <th>已被计入</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orderswed %}
            <tr>
                <th>{{ order.client_name }}{% if order in ordersnew %} (本月新增){% endif %}</th>
                <th>{{ order.money }}</th>
                <th>{{ order.commission_rate }}</th>
                <th>{{ order.get_type_display }}</th>
                <th>{{ order.order_time }}</th>
                <th>{{ order.wedding_time }}</th>
                <th>{{ order.is_task_order }}</th>
                <th>{{ order.is_discount_order }}</th>
                <th>{{ order.is_chargeback }}</th>
                <th>{{ order.get_status_display }}{% if order.chargeback_date and order.status != 4 %} (待退款){% endif %}</th>
                <th>{{ order.whose_order }}</th>
                <th>{{ order.order_number }}</th>
                <th>{{ order.calculated }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h4>其余修改订单</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>顾客</th>
                <th>金额</th>
                <th>提成</th>
                <th>订单类型</th>
                <th>预定时间</th>
                <th>婚礼时间</th>
                <th>任务单</th>
                <th>活动单</th>
                <th>退单</th>
                <th>订单状态</th>
                <th>店员</th>
                <th>订单号</th>
                <th>已被计入</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orderchanged %}
            <tr>
                <th>{{ order.client_name }}</th>
                <th>{{ order.money }}</th>
                <th>{{ order.commission_rate }}</th>
                <th>{{ order.get_type_display }}</th>
                <th>{{ order.order_time }}</th>
                <th>{{ order.wedding_time }}</th>
                <th>{{ order.is_task_order }}</th>
                <th>{{ order.is_discount_order }}</th>
                <th>{{ order.is_chargeback }}</th>
                <th>{{ order.get_status_display }}{% if order.chargeback_date and order.status != 4 %} (待退款){% endif %}</th>
                <th>{{ order.whose_order }}</th>
                <th>{{ order.order_number }}</th>
                <th>{{ order.calculated }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'wage:findstatus' %}" class="btn btn-primary" role="button">选择已付尾款</a>
<a href="{% url 'wage:findtask' %}" class="btn btn-primary" role="button">选择任务单</a>
<a href="{% url 'wage:findchargeback' %}" class="btn btn-default active" role="button">选择退单</a>

<br />
<br />
<form action="{% url 'wage:calculate' %}" method="post">
{% csrf_token %}
    <button type="submit" name="calculate" class="btn btn-primary">计算金额</button>
</form>

<form action="{% url 'wage:checkresult' %}" method="post">
{% csrf_token %}
    <button type="submit" name="calculate" class="btn btn-primary">查看结果</button>
</form>
<br />

<br />

<form enctype="multipart/form-data" action="{% url 'wage:inputorder' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputFile">导入订单</label>
        <input type="file" id="exampleInputFile" name="orderinput">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <button type="submit" class="btn btn-default">导入</button>
</form>

<form enctype="multipart/form-data" action="{% url 'wage:inputemployee' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="inputemployee">导入员工</label>
        <input type="file" id="inputemployee" name="inputemployee">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <button type="submit" class="btn btn-default">导入</button>
</form>
{% endblock %}