{% extends 'wage/base.html' %}

{% block head %}
<style>
tbody tr:hover
{
background-color:MistyRose;
}
</style>

<script>
</script>
{% endblock %}

{% block nocalendar %}
<br />
<form action="{% url 'wage:index' %}" method="get">
    <button type="submit" class="btn btn-primary">返回主界面</button>
</form>
<br />
<h4>搜索结果</h4>

<div class="table-responsive">
    <form action="{% url 'wage:changechargeback' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>顾客</th>
                <th>金额</th>
                <th>订单类型</th>
                <th>预定时间</th>
                <th>婚礼时间</th>
                <th>任务单</th>
                <th>订单状态</th>
                <th>订单接单店员</th>
                <th>完成服务店员</th>
                <th>订单号</th>
                <th>已被计入</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order_matched %}
            <tr onclick="newDoc(this)">
                <th>{{ order.client_name }}</th>
                <th>{{ order.money }}</th>
                <th>{{ order.get_type_display }}</th>
                <th>{{ order.order_time }}</th>
                <th>{{ order.wedding_time }}</th>
                <th>{{ order.is_task_order }}</th>
                <th>{{ order.get_status_display }}</th>
                <th>{{ order.whose_new }}</th>
                <th>{{ order.whose_wed }}</th>
                <th>{{ order.order_number }}</th>
                <th>{{ order.calculated }}</th>
                {% if order.status != 4 %}<th><input type="checkbox" name="chargeback" value="{{ order.order_number }}" /></th>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <input type="checkbox" id="all">
        <input type="button" value="全选" class="btn" id="selectAll">
        <input type="button" value="全不选" class="btn" id="unSelect">
        <input type="button" value="反选" class="btn" id="reverse">
        <input type="button" value="获得选中的所有值" class="btn" id="getValue">
    {% if order_matched %}<button type="submit" class="btn btn-primary" value="退单">退单至{{monthaccount}}月工资</button>{% endif %}
    </form>
</div>

{% if inf_message %}
    <h4>{{ inf_message }}</h4>
{% endif %}

<script>
    $(function(){
        $("#all").click(function(){
            if (this.checked){
                $(":checkbox[name='chargeback']").prop("checked",true)
            }else{
                $(":checkbox[name='chargeback']").prop("checked",false)
            }
        });
        $("#selectAll").click(function(){
            $(":checkbox[name='chargeback']").prop("checked",true)
        });
        $("#unSelect").click(function(){
            $(":checkbox[name='chargeback'],#all").prop("checked",false);
        });
        $("#reverse").click(function(){
            $(":checkbox[name='chargeback']").each(function(){
                $(this).prop("checked",!$(this).prop("checked"));
            });
            allCheck();
        });
        $(":checkbox[name='chargeback']").click(function(){
            allCheck();
        });
        $("#getValue").click(function(){
            var valArr = new Array;
            $(":checkbox[name='chargeback']").each(function(i){
                if($(this).prop("checked")){
                    valArr[i]=$(this).val();
                }
            });
            var vals = valArr.join(',');
            alert(vals);
        })
        function allCheck(){
            var count = $(":checkbox[name='chargeback']").size();
            var cut = 0;
            $(":checkbox[name='chargeback']").each(function(){
                if ($(this).prop("checked") == true) {
                    cut++;
                }
            });
            // alert(cut,count);
            if (cut == count) {
                $("#all").prop("checked",true);
            }else{
                $("#all").prop("checked",false);
            }
        }
    })
</script>
{% endblock %}